{% extends 'patient/base_app.html '%} {% block content %}
{% load static %}

 <!-- Home Section -->
 <div class="main-content" style="min-height: 100vh">
    <!-- Start home content -->
    <div class="card p-2 shadow">
        <h2 class="text-center p-3">Events</h2>
        {% if user != "admin" %}
        <div class="col text-end mx-3">
          <a href="{% url "common:event_" %}">Your event -></a>
        </div>
        {% endif %}
        <div class="card">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="row g-3 justify-content-start">
                      <div class="col-auto">
                        <label for="search" class="col-form-label">From: </label>
                      </div>
                      <div class="col-auto">
                        <input
                          type="date"
                          id="search"
                          class="form-control d-inline-block"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row g-3 justify-content-end">
                      <div class="col-auto">
                        <label for="search" class="col-form-label">To: </label>
                      </div>
                      <div class="col-auto">
                        <input
                          type="date"
                          id="search"
                          class="form-control d-inline-block"
                        />
                      </div>
                    </div>
                </div>
            <div class="table-responsive mt-3">
                <table class="table table-hover table-bordered table-striped text-center">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Topic</th>
                      <th scope="col">Type</th>
                      <th scope="col">Mode</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Duration</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for d in data %}
                    <tr>
                      <td scope="row">{{d.0}}</td>
                      <td>{{d.1}}</td>
                      <td>
                        {% if d.2 == 1 %}
                          Workshop
                        {% elif d.2 == 2 %}
                          Seminar
                        {% endif %}
                      </td>  
                      <td>
                        {% if d.3 == 1 %}
                          Online
                        {% elif d.3 == 2 %}
                          Physical
                        {% endif %}
                      </td>                          
                      <td>{{d.4}}</td>
                      <td>{{d.5}}</td>
                      <td>{{d.6}}hr</td>
                      <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url "organization:event_card" d.0 %}">
                          <button type="button" class="btn btn-outline-primary me-1 rounded">                            
                              <i class="fa-solid fa-eye"></i>
                          </button></a>
                          {% if True %}
                          <button type="button" class="btn btn-outline-danger rounded">
                              <i class="fa-regular fa-circle-xmark"></i>
                          </button>
                          {% endif %}
                        </div>                
                      </td>
                    </tr>
                    {% endfor %}                   
                  </tbody>
                </table>
                <nav aria-label="...">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a
                        class="page-link"
                        href="#"
                        tabindex="-1"
                        aria-disabled="true"
                        >Previous</a
                      >
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
            </div>                
        </div>
    </div> 
    </div>            
    </div>
   </div>

    </div>
    <!-- End home content -->

{% endblock %}