{% extends 'patient/base_app.html '%} {% block content %} {% load static %}

<!-- Home Section -->
<div class="main-content" style="min-height: 100vh">
  <!-- Start home content -->
  <div class="card p-2 shadow gx-3 border-0">
    <div class="container">
      <div class="row">
        <h2>Event Topic</h2>
        <div class="col">
          <h3>Event Type</h3>
          <h5>Mode</h5>
          <h5>Rating 4.7/5</h5>
          <h5>*****</h5>
          <p>013********</p>
          <address>Location</address>
          <h5>Total Participant</h5>
        </div>
        <div class="col text-end">
          <p>Status</p>
          <h5>Organizar Name</h5>
          <h5>organization@gmail.com</h5>
          <h5>Date</h5>
          <h5>Time</h5>
          <h5>Duration</h5>
        </div>
        <h6 style="text-align: justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fugit,
          dolor odit necessitatibus maxime hic fuga cum a corrupti, rerum earum
          expedita cumque placeat iure dolores harum ipsam sed inventore,
          perferendis modi ex labore accusantium doloribus mollitia! In libero
          distinctio, magnam accusantium veniam ducimus consectetur eum maiores
          commodi illum id. Maxime possimus iure facere quaerat, incidunt eaque
          inventore asperiores consequatur quos explicabo architecto, aliquam
          tenetur dicta, fugit repudiandae voluptates illo. Quod error at nemo
          est, dolor ipsam, nam odio reiciendis id, a culpa ex molestiae
          delectus recusandae eligendi eos mollitia deserunt. Sint ratione
          architecto impedit deleniti praesentium eveniet quidem ducimus.
        </h6>
        <button type="button" class="btn btn-primary my-2">Participate</button>
      </div>
    </div>
  </div>
  <!-- End home content -->

  {% endblock %}
</div>
