{% extends "patient/base_app.html" %} {% block content %}

<div class="card m-1 p-2 shadow gx-3 border-0">
  <!-- Patient List -->
  <div class="container mb-4 pt-3">
    <div class="row">
      <div class="col-12">
        <h2 class="fs-5 text-center">Pending Specialist</h2>
      </div>
    </div>
  </div>
  <!-- Search input -->
  <div class="row g-3 justify-content-end">
    <div class="col">
      <a href="{% url "common:add_doctor" %}">
      <button class="btn btn-primary">Add Specialist</button></a>
    </div>
    <div class="col-auto">      
      <input type="text" id="search" class="form-control d-inline-block" placeholder="specialist name"/>
    </div>
    <div class="col-auto">      
      <button class="btn btn-primary">Search</button>
    </div>
  </div>

  <div class="table-responsive mt-3">
    <table class="table table-hover table-bordered table-striped text-center">
      <thead>
        <tr>
          <th scope="col">SID</th>
          <th scope="col">Specialist Name</th>
          <th scope="col">Type</th>          
          <th scope="col">Blood Group</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr>
          <td scope="row">{{d.0}}</td>
          <td>
            <img
              class="rounded-circle border border-2 shadow pImg"
              alt="avatar1"
              src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp"
            />
            <span class="mx-1">{{d.1}} {{d.2}}</span>
          </td>
          <td>{% if d.15 == 2 %}Psychiatrist {% elif d.15 == 3 %}Psychologist{% endif %}</td>
          <td>{{d.7}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              {% if d.15 == 2 %}
                <a href="{% url "psychiatrist:card" d.0 %}">
              {% elif d.15 == 3 %}
                <a href="{% url "psychologist:card" d.0 %}">
              {% endif %}
              <button
                type="button"
                class="btn btn-outline-primary me-1 rounded"
              >                
                  <i class="fa-solid fa-eye"></i
                >
              </button></a>
              <button
                type="button"
                class="btn btn-outline-success me-1 rounded acceptbutton"
                data-action="{{d.0}}"
              >
                <i class="fa-regular fa-circle-check"></i>
              </button>
              <button type="button" class="btn btn-outline-danger rounded">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </tr>        
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
            >Previous</a
          >
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
      $('.acceptbutton').click(function() {
          var action = $(this).data('action');
          var c = 'acceptbutton';
          $.ajax({
              type: "POST",
              url: '{% url "common:pending_specialist" %}',
              headers: {
                  'X-CSRFToken' : '{{ csrf_token }}'
              },
              data: {
                  'action': action,
                  'c' : c,
              },
              success: function(response) {
                  if (response.status === 'success') {
                      alert('Specialist no.' + action + ' is accepted');
                  }
                  else {
                      alert("Some error happned");
                  }
              }
          });             
      });
  });
</script>

{% endblock %}
