{% extends 'patient/base_app.html '%} {% block content %} {% load static %}

<!-- Home Section -->
<div class="main-content">
  <!-- Start home content -->

  <!-- Add Specialist form -->
  <div class="card p-2 shadow">
    <form action="" method="post">
      {% csrf_token %}
      <!-- Nav tab -->
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            Organigzation Details
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
          Account Details
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent" style="min-height: 620px">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
        >
          <!-- Home -->
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Organization Name
                  </label>
                  <div class="input-group">                    
                    <input
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="organization name"
                      name="name"
                    />
                  </div>
                </div>
              </div>              
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Type</label
                  >
                  <div class="input-group">                    
                    <select
                      class="form-select form-select-sm"
                      aria-label="Small select example"
                      name="type"
                    >
                      <option selected>Select</option>
                      <option value="1">Non-governmental Organization</option>
                      <option value="2">Non-profit Organization</option>
                      <option value="3">Government Organigzation</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Establish Date</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="last name"
                    name="edate"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label
                    for="exampleFormControlInput1"
                    class="form-label text-start"
                    >Email ID</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="name@gmail.com"
                    name="email"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Mobile Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="+880*********"
                    name="contact"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Address</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="house no#, road no#"
                    name="hrno"
                  />
                </div>
              </div>

              <div class="col-4">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Country</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Bangladesh"
                    name="country"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >City</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Dhaka"
                    name="city"
                  />
                </div>
              </div>

              <div class="col-4">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >District</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Dhaka"
                    name="district"
                  />
                </div>
              </div>

              <div class="col-4">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Postal Code</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="1212"
                    name="postal"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <div class="card">
            <div class="container">
              <div class="row">
                <div class="col">
            <p>Upload Image</p>
            <img
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
              class="card-img-top"
              alt="..."              
            />
            <div class="mb-3">
              <input class="form-control" type="file" id="formFile" name="file"/>
            </div>
          </div>
          <div class="col">
            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">
                  Password
                </label>
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="password"
                    name="password"
                  />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">
                  Confirm Password
                </label>
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="confirm password"
                    name="cpassword"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button
          class="butn"
          type="submit"
        >
          Create Account
        </button>
      </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- End home content -->

{% endblock %}
