@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif", "Arial", "Time NEW ROMAN";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #081b29;
}

.wrapper {
  position: relative;
  width: 750px;
  height: 450px;
  background: transparent;
  /* border: 2px solid #0ef; */
  border-radius: 10px;
  box-shadow: 0 0 15px #0ef;  
}

.wrapper .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .form-box.login {
  left: 0;
  padding: 0 60px 0 40px;
}

.form-box h2 {
  font-size: 33px;
  color: #fff;
  text-align: center;
}

.form-box .input_box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input_box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  padding-right: 23px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.input_box input:focus,
.input_box input:valid {
  border-bottom-color: #0ef;
}

.input_box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input_box input:focus ~ label,
.input_box input:valid ~ label {
  top: -5px;
  color: #0ef;
}

.input_box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
  transition: 0.5s;
}

.input_box input:focus ~ i,
.input_box input:valid ~ i {
  color: #0ef;
}

.butn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 45px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  z-index: 1;
  overflow: hidden;
}

.butn::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
  z-index: -1;
  transition: 0.5s;
}

.butn:hover::before {
  top: 0;
}

.form-box .logreg_link {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin: 20px 0 10px;
}

.logreg_link p a {
  color: #0ef;
  text-decoration: none;
  font-weight: 700;
}

.logreg_link p a:hover {
  text-decoration: underline;
}

.wrapper .info_text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: right;
  padding: 0 40px 60px 150px;
}

/* .wrapper .info_text.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
    
}

.wrapper .info_text.register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    display: none; 
}*/

.info_text h2 {
  font-size: 36px;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
}

.info_text p {
  font-size: 16px;
  color: #fff;
}

.wrapper .bg_animate {
  position: absolute;
  top: -4x;
  right: 0;
  width: 850px;
  height: 600px;
  background: linear-gradient(45deg, #081b29, #0ef);
  border-bottom: 3px solid #0ef;
  transform: rotate(10deg) skewY(40deg);
}
