{% extends 'patient/base_app.html '%} {% block content %} {% load static %}

<!-- Home Section -->
<div class="main-content">
  <!-- Start home content -->

  <!-- Add Specialist form -->
  <div class="card p-2 shadow">
    <h3 class="text-center my-3">Diagnostic Center</h3>
    <form action="" method="post">
      {% csrf_token %}
      <div
      class="tab-pane fade show active"
      id="pills-home"
      role="tabpanel"
      aria-labelledby="pills-home-tab"
    >
      <!-- Home -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Diagnostic Center Name
              </label>
              <div class="input-group">                    
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="center name"
                  name="name"
                />
              </div>
            </div>
          </div>              
          <div class="col-6">
            <div class="mb-3">
              <label
                for="exampleFormControlInput1"
                class="form-label text-start"
                >Email ID</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@gmail.com"
                name="email"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Mobile Number</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="+880*********"
                name="contact"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Address</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="address"
                name="address"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="password"
                name="password"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="confirm password"
                name="cpassword"
              />
            </div>
          </div>
          <div class="col-12">
            <button class="butn" type="submit">Create</button>
          </div>      
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
<!-- End home content -->

{% endblock %}
