{% include "patient/header.html" %}
{% load static %}
<div class="wrapper">
  <div class="body-overlay"></div>

  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header d-flex flex-column align-items-center">
      <h3 class="text-center">
        <img src="{% static "img/logoV2.png" %}" class="img-fluid" style="width: 50px" />
        <span>MHM System</span>
      </h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        {% if request.session.userData == "admin"  %}
        <a href="{% url 'baseapp:admin_dashboard' %}" class="dashboard">
          <i class="material-icons">dashboard</i>
          <span>Dashboard</span>
          {% else %}
          <a href="{% url 'patient:dashboard' %}" class="dashboard">
          <i class="material-icons">dashboard</i>
          <span>Dashboard</span>
        </a>
        {% endif %}
      </li>

      <div class="small-screen navbar-display">
        <li class="dropdown d-lg-none d-md-block d-xl-none d-sm-block">
          <a
            href="#homeSubmenu0"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <i class="material-icons">notifications</i>
            <span> 4 notification</span>
          </a>
          <ul class="collapse list-unstyled menu" id="homeSubmenu0">
            <li>
              <a href="#">You have 5 new messages</a>
            </li>
            <li>
              <a href="#">You're now friend with Mike</a>
            </li>
            <li>
              <a href="#">Wish Mary on her birthday!</a>
            </li>
            <li>
              <a href="#">5 warnings in Server Console</a>
            </li>
          </ul>
        </li>

        <li class="d-lg-none d-md-block d-xl-none d-sm-block">
          <a href="#">
            <i class="material-icons">apps</i>
            <span>apps</span>
          </a>
        </li>

        <li class="d-lg-none d-md-block d-xl-none d-sm-block">
          <a href="{% url 'patient:profile' %}">
            <i class="material-icons">person</i>
            <span>user</span>
          </a>
        </li>

      </div>

      <li class="dropdown">
        <a
          href="#homeSubmenu1"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="material-icons">personal_injury</i>
          <span>Patient</span>
        </a>
        <ul class="collapse list-unstyled menu" id="homeSubmenu1">
          {% if request.session.userData.1 == 1 or request.session.userData == "admin"  %}
          <li>
            <a href="{% url "patient:appointment" %}"
              ><i class="material-icons">arrow_right</i> Appointment</a
            >
          </li>
         <li>
            <a href="{% url "patient:records" %}"
              ><i class="material-icons">arrow_right</i> Health Records</a
            >
          </li>
          <li>
            <a href="{% url "patient:recommandation" %}"
              ><i class="material-icons">arrow_right</i> Recommandation</a
            >
          </li>
          {% endif %}
          <li>
            <a href="{% url "patient:list" %}"
              ><i class="material-icons">arrow_right</i> Patient List</a
            >
          </li>          
        </ul>
      </li>

      <li class="dropdown">
        <a
          href="#pageSubmenu2"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="material-icons">medication</i>
          <span>Psychiatrist</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu2">
          <li>
            <a href="{% url "psychiatrist:psychiatrist_list" %}"
              ><i class="material-icons">arrow_right</i> Psychiatrist List</a
            >
          </li>
          {% if request.session.userData.1 == 2 or request.session.userData == "admin"  %}
          <li>
            <a href="{% url "psychiatrist:appointments" %}"
              ><i class="material-icons">arrow_right</i> Appointments</a
            >
          </li>
          {% endif %}
        </ul>
      </li>

      <li class="dropdown">
        <a
          href="#pageSubmenu3"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="material-icons">group</i>
          <span>Psychologist</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu3">
          <li>
            <a href="{% url "psychologist:psychologist_list" %}"
              ><i class="material-icons">arrow_right</i> Psychologist List</a
            >
          </li>
          {% if request.session.userData.1 == 3 or request.session.userData == "admin"  %}
          <li>
            <a href="{% url "psychologist:appointments" %}"
              ><i class="material-icons">arrow_right</i> Appointments</a>
          </li>
          {% endif %}
        </ul>
      </li>
      <li class="dropdown">
        <a
          href="#pageSubmenu4"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="material-icons">corporate_fare</i>
          <span>Organization</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu4">
          {% if request.session.userData.1 == 'organization'  %}
          <li>            
            <a href="{% url "organization:events" %}"
              ><i class="material-icons">arrow_right</i> Event</a
            >
          </li>
          <li>
            <a href="{% url "organization:create_event" %}"
              ><i class="material-icons">arrow_right</i> Create Event</a
            >
          </li>
          {% endif %}
          <li>
            <a href="{% url "organization:list" %}"
              ><i class="material-icons">arrow_right</i> Organization List</a
            >
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a
          href="#pageSubmenu5"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="material-icons">local_hospital</i>
          <span>Diagnosis</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu5">
          {% if request.session.userData.1 == 'diagnosis'  %}
          <li>            
            <a href="{% url "diagnosis:appointment" %}"
              ><i class="material-icons">arrow_right</i> Appointment</a
            >
          </li>
          {% endif %}
          <li>
            <a href="{% url "diagnosis:list" %}"
              ><i class="material-icons">arrow_right</i> Center List</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="{% url "common:resource" %}"
          ><i class="fa-solid fa-book-open"></i> Resources</a
        >
      </li>

      <li>
        <a href="{% url "common:event" %}"
          ><i class="material-icons">library_books</i> Event</a
        >
      </li>

      <li class="dropdown">
        <a
          href="#pageSubmenu8"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="material-icons">reviews</i>
          <span>Reviews</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu8">
          <li>
            <a href="{% url 'patient:feedback' %}">Feedback</a>
          </li>
        </ul>
      </li>

      <!-- <li class="dropdown">
        <a
          href="#pageSubmenu6"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
        >
          <i class="material-icons">query_stats</i>
          <span>Chart</span>
        </a>
        <ul class="collapse list-unstyled menu" id="pageSubmenu6">
          <li>
            <a href="#"><i class="material-icons">arrow_right</i> Chart 1</a>
          </li>
          <li>
            <a href="#"><i class="material-icons">arrow_right</i> Chart 2</a>
          </li>
          <li>
            <a href="#"><i class="material-icons">arrow_right</i> Chart 3</a>
          </li>
        </ul>
      </li> -->

      <li class="">
        <a href="{% url "common:schedule" %}"
          ><i class="fa-solid fa-calendar"></i><span>Schedule</span>
        </a>
      </li>
      <li class="">
        <a href="{% url "registration:login" %}">
          <i class="fa-solid fa-right-from-bracket"></i><span>Signout</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <div class="top-navbar">
      <nav class="navbar dashboardbg navbar-expand-lg">
        <div class="container-fluid">
          <button
            type="button"
            id="sidebarCollapse"
            class="d-xl-block d-lg-block d-md-mone d-none"
          >
            <span class="material-icons">arrow_back_ios</span>
          </button>

          <a class="navbar-brand" href="#"> Dashboard </a>

          <button
            class="d-inline-block d-lg-none ml-auto more-button"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="material-icons">more_vert</span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-end d-lg-block d-xl-block d-sm-none d-md-none d-none"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav ml-auto">
              <li class="dropdown nav-item active">
                <a href="#" class="nav-link" data-toggle="dropdown">
                  <span class="material-icons">notifications</span>
                  <span class="notification">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">You have 5 new messages</a>
                  </li>
                  <li>
                    <a href="#">You're now friend with Mike</a>
                  </li>
                  <li>
                    <a href="#">Wish Mary on her birthday!</a>
                  </li>
                  <li>
                    <a href="#">5 warnings in Server Console</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="material-icons">apps</span>
                </a>
              </li>
              <li class="nav-item">
                {% if request.session.userData.1 == 1 %}
                  <a class="nav-link" href="{% url "patient:profile" %}">
                {% else %}
                  <a class="nav-link" href="#">
                {% endif %}
                  <span class="material-icons">person</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url "registration:login" %}">
                  <i class="fa-solid fa-right-from-bracket"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- Home Section -->
    <div class="main-content" style="min-height: 100vh">
      <!-- Start home content -->
      {% block content %} {% endblock %}
      <!-- End home content -->
    </div>
  </div>
</div>
{% include "patient/footer.html" %}
