{% extends "patient/base_app.html" %} {% block content %}
<style>
  .rating input {
  display: none;
}

.rating label {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.rating input:checked ~ label {
  color: gold;
}

.rating input:hover ~ label {
  color: gold;
}
.name-div textarea{
  width: 30%;
  padding: 5px;
}

.review-body button{
  background: tomato;
  border: none;
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 5px;
} 

</style>
<div class="card">
  <div class="review m-5">
    <h3>Rate your experience</h3>
    <div class="review-body">
      {% if request.session.userData == "admin"  %}
      <form id="review-form" action="{% url 'baseapp:admin_dashboard' %}">
        {% else %}
        <form id="review-form" action="{% url 'patient:dashboard' %}">
      {% endif %}
      <div class="name-div">
        <textarea name="" id="comment-input" placeholder="your comment here"></textarea>
        <p>Rating</p>
      </div>
      <div class="rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label for="star5" title="5 stars">★</label>
        <input type="radio" id="star4" name="rating" value="4">
        <label for="star4" title="4 stars">★</label>
        <input type="radio" id="star3" name="rating" value="3">
        <label for="star3" title="3 stars">★</label>
        <input type="radio" id="star2" name="rating" value="2">
        <label for="star2" title="2 stars">★</label>
        <input type="radio" id="star1" name="rating" value="1">
        <label for="star1" title="1 star">★</label>
      </div>
      <button onclick="alert('Feedback successfully submitted')">Submit</button>
    </div>
  </form>
</div>
</div>

<script src="js/star-rating.js"></script>
<script>
  var stars = new StarRating(".star-rating");
</script>
{% endblock %}
