{% extends "patient/base_app.html" %} {% block content %}

<div class="card m-1 p-2 shadow gx-3 border-0">
  <!-- Patient List -->
  <div class="container mb-4 pt-3">
    <div class="row">
      <div class="col-12">
        <h2 class="fs-5 text-center">Patient Information</h2>
      </div>
    </div>
  </div>
  <!-- Search input -->
  <div class="row g-3 justify-content-end">
    {% if user == "admin" %}
    <div class="text-end me-1"><a href="{% url "patient:pending" %}">
      <button class="btn btn-primary">Add Patient</button></a>
    </div>
    {% endif %}
    <div class="col-auto">      
      <input type="text" id="search" class="form-control d-inline-block" placeholder="patient name"/>
    </div>
    <div class="col-auto">      
      <button class="btn btn-primary">Search</button>
    </div>
  </div>

  <div class="table-responsive mt-3">
    <table class="table table-hover table-bordered table-striped text-center">
      <thead>
        <tr>
          <th scope="col">SID</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
          <th scope="col">Blood Group</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr>
          <td scope="row">{{d.0}}</td>
          <td>
            <img
              class="rounded-circle border border-2 shadow pImg"
              alt="avatar1"
              src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set--icons-by-dakirby/512/User_No-Frame.png"
            />
            <span class="mx-1">{{d.1}} {{d.2}}</span>
          </td>
          <td>{{d.3}}</td>
          <td>30</td>
          <td>{{d.7}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="{% url "patient:card" d.0 %}">
              <button
                type="button"
                class="btn btn-outline-primary me-1 rounded"
              >                
                  <i class="fa-solid fa-eye"></i
                >
              </button></a>
              {% if user == 'admin' %}
              <button
                type="button"
                class="btn btn-outline-success me-1 rounded"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-outline-danger rounded">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
            >Previous</a
          >
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
