{% extends "patient/base_app.html" %} {% block content %}

<!-- Home Section -->
<div class="main-container" >
    <!-- Start home content -->

    <!-- Good Morning Section Start -->
    <div class="card shadow mb-3 bg-success" style="border-radius: 5px!important;">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row mt-3">
            {% comment %} Depand on time {% endcomment %}
              <h3 class="m-2 text-white">Good {{wish}}</h3>
              {% comment %} patient name db {% endcomment %}
              <h5 class="ms-2 text-white">{{data.1}} {{data.2}}</h5>
              <p class="ms-2 text-white">{{data.3}}</p>
              <p class="ms-2 text-white">{{data.4}}/5</p>
            </div>
            <div class="row ps-1 py-4 text-dark">
              <div class="col">
                <h4>{{app}}</h4>
                {% comment %} patient total appointment today db {% endcomment %}
                <p>Appointment</p>
              </div>
              <div class="col">
                <h4>1</h4>
                {% comment %} patient total workshop today db {% endcomment %}
                <p>Workshop</p>
              </div>
              <div class="col">
                <h4>0</h4>
                {% comment %} patient total seminar today db {% endcomment %}
                <p>Seminar</p>
              </div>
              <div class="col text-center">
              </div>
            </div>
          </div>
          <div class="col text-end py-3">
            {% comment %} patient img db {% endcomment %}
            <img class="rounded-circle border border-2 shadow m-2" style="height: 180px; width: 180px;"
              alt="avatar1" src="https://st2.depositphotos.com/1177973/10308/i/950/depositphotos_103086720-stock-photo-stethoscope-with-open-book-and.jpg" />
          </div>
        </div>
      </div>
    </div>
    <!-- Good Morning Section End -->

    <!-- Today Section Start -->
    <div class="d-flex flex-column align-items-center">
      <div class="card shadow py-3">
        <div class="container m-0">
            {% comment %} doctor info from patient appointment db {% endcomment %}
          <h5>Today's Appointment</h5>
          <div class="table-responsive mt-3">
            <table class="table table-hover table-bordered table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">SID</th>
                  <th scope="col">Patient Name</th>                  
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for a in appointment %}
                <tr>
                  <td scope="row">{{a.5}}</td>
                  <td>
                    <img class="rounded-circle border border-2 shadow pImg" alt="avatar1"
                      src="https://st2.depositphotos.com/1177973/10308/i/950/depositphotos_103086720-stock-photo-stethoscope-with-open-book-and.jpg" />
                    <span class="mx-1">{{a.1}} {{a.2}}</span>
                  </td>                  
                  <td>{{a.6}}</td>
                  <td>{{a.7}}</td>
                  <td>                    
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="{% url "common:appointment_card" a.5 %}">
                      <button type="button" class="btn btn-outline-primary me-1 rounded">
                        <i class="fa-solid fa-eye"></i>
                      </button></a>                      
                      <button type="button" class="btn btn-outline-success me-1 rounded">
                        <i class="fa-solid fa-pen-to-square"></i>
                      </button>
                      <button type="button" class="btn btn-outline-danger rounded">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card shadow m-3 py-3 w-100">
        <div class="container m-0">
            {% comment %} event info from patient event db {% endcomment %}
        <div class="row">
            <div class="col"><h5>Today's Event</h5></div>
            <div class="col text-end"><a href="{% url "common:request_event" %}">Requested Event -></a></div>
        </div>
          <div class="table-responsive mt-3">
            <table class="table table-hover table-bordered table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">ID</th>                  
                  <th scope="col">Topic</th>
                  <th scope="col">Event Type</th>
                  <th scope="col">Mode</th>                  
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">001</td>                                 
                  <td>Topic</td>
                  <td>Workshop</td>
                  <td>On-site</td>
                  <td>09/06/2024</td>
                  <td>9AM</td>
                  <td>3hr</td>
                  <td>
                    <a href="{% url "common:event_card" %}">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-primary me-1 rounded">
                        <i class="fa-solid fa-eye"></i>
                      </button></a>
                      <button type="button" class="btn btn-outline-success me-1 rounded">
                        <i class="fa-regular fa-circle-check"></i>
                      </button>
                      <button type="button" class="btn btn-outline-danger rounded">
                        <i class="fa-regular fa-circle-xmark"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Today Section End -->


    <!-- Appoinment & Event Chart Section Start -->
    <div>
      <div class="row">
        <div class="col">
          <div class="card shadow p-3">
            {% comment %} patient appointment chart db {% endcomment %}
            <h4>Appointment Chart</h4>
            <div id="appointment-chart"></div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow p-3">
            {% comment %} patient event chart db {% endcomment %}
            <h4>Event Chart</h4>
            <div id="event-chart"></div>
          </div>
        </div>            
      </div>
    </div>        
    <!-- Appoinment & Event Chart Section End -->

    

    <!-- End home content -->

{% endblock %}